<header>
    <div class="logo">
    <a href="/"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
    </div>
    
    <div class="contenedor-boton">
        <div class="boton">
        <input type="text" placeholder="Buscar productos, marcas">
        <button type="submit" class="fas fa-search"></button> </div>
    </div>
    

    <div id="compra-cuotas">
    <p class="fas fa-hand-holding-usd">Compra en cuotas y sin tarjeta de credito</p>
    </div>
    
    <nav class="iconos-lista1">
        
            <p>Ofertas</p>
            <p>Tiendas Oficiales</p>
            <p>Vender</p>
            <p>Ayuda</p>
        
        </nav>
        <nav class="iconos-lista2">
            <p><a href="/users/edit">Editar Usuario</a> <i class="fas fa-cog"></i></p>
            <p><a href="/users/registro">Creá tu cuenta</a> <i class="fas fa-id-card"></i></p>
            <p><a href="/users/">Ingresá</a> <i class="fas fa-sign-in-alt"></i></p>
            <p>Mis compras <i class="fas fa-shopping-basket"></i></p>
            
        </nav>
        
    
    <div class="boton-barra">
        <button class="fas fa-bars"></button>
    </div>

</header>