<%-include("partials/head.ejs")%>
<title>Mercado liebre</title>
<link rel="stylesheet" href="/css/styles.css">

<body>
    <div id="container">
    
   <%-include("partials/header.ejs")%>
   

<main>
    
        <img src="/img/img-home-banner.jpg" alt="" class="home-banner">
    
        <h2>Basado en tu última visita</h2>
    
    <!--Caja contenedora de las visitas-->
    <section id="content-visita">
        
       
        
        <!--Cafetera-->
        <article class="cafetera">
        <a href="#">
        
        <img src="/img/img-cafetera-moulinex.jpg" id="cafetera-img"><br></a>
        
        <div class="fas fa-truck" id="camion"></div>
        <div class="contenedor-cafetera">
        <p class="precio">$6.700</p>
        <p class="descuento">40% off</p>
        <p class="producto">Cafetera Moulinex</p></div>
        
        </article>
        

        <!--TV-->
        
        <article class="tv">
        <a href="#">
        <img src="/img/img-tv-samsung-smart.jpg" id="tv-img"></a>
        <div class="fas fa-truck" id="camion"></div>
        <div class="contenedor-tv">
        <p class="precio">$70.000</p>
        <p class="descuento">10% off</p>
        <p class="producto">Samsung Smart TV</p></div>
        
        </article>

        <!--Macbook-->
        <article class="macbook">
        <a href="#">
        <img src="/img/img-macbook-pro-2019.jpg" id="macbook-img"></a>
        <div class="fas fa-truck" id="camion"></div>
        <div class="contenedor-macbook">
        <p class="precio">$50.000</p>
        <p class="descuento">10% off</p>
        <p class="producto">Macbook Pro 2019</p></div>
        </article>

    </section>
        
    
        <h2>Sección de ofertas</h2>

        <!--Caja contenedora de las ofertas-->
    <section id="content-ofertas">
        
        <!--Galaxy s10-->
        <article class="galaxy-s10">
        <a href="#">
        <img src="/img/img-samsung-galaxy-s10.jpg" id="celular-img"></a>
        <div class="fas fa-truck" id="camion"></div>
        <div class="contenedor-s10">
        <p class="precio">$72.000</p>
        <p class="descuento">20% off</p>
        <p class="producto">Samsung Galaxy s10</p></div>
        </article>


        <!--TV 2-->
        <article class="tv">
        <a href="#">
        <img src="/img/img-tv-samsung-smart.jpg" id="tv-img2"></a>
        <div class="fas fa-truck" id="camion"></div>
        <div class="contenedor-tv">
        <p class="precio">$70.000</p>
        <p class="descuento">10% off</p>
        <p class="producto">Samsung Smart TV</p></div>
        </article>


        <!--Cafetera 2-->
        <article class="cafetera">
        <a href="#">
        <img src="/img/img-cafetera-moulinex.jpg" id="cafetera-img2"></a>
        <div class="fas fa-truck" id="camion"></div>
        <div class="contenedor-cafetera">
        <p class="precio">$6.700</p>
        <p class="descuento">40% off</p>
        <p class="producto">Cafetera Moulinex</p></div>
        
        </article>
    

    </section>
</main>

<%-include("partials/footer.ejs")%>

</div>
</body>
</html>