<%-include("partials/head.ejs")%>
<link rel="stylesheet" href="/css/registro.css">

<body>
    

    <div class="volver-inicio">
    <h1>Registro Exitoso</h1>
    <br>
    <a href="/"><button type="submit">Volver al inicio</button></a>
    </div>
</body>